<h1>Edit</h1>
<form class="form-horizontal col-lg-8 col-lg-offset-2"
      method="post" action="/update/{{data.id}}">
  <fieldset>
    <div class="form-group">
      <label for="name" class="col-lg-2 control-label">Name: </label>
      <div class="col-lg-10">
        <input type="text" class="form-control" 
               name="name" id="name" value="{{data.name}}" required>
      </div>
    </div>
    <div class="form-group">
      <label for="phone" class="col-lg-2 control-label">Phone: </label>
      <div class="col-lg-10">
        <input type="tel" class="form-control" 
               name="phone" id="phone" value="{{data.phone}}" required>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-lg-2 control-label">Email: </label>
      <div class="col-lg-10">
        <input type="email" class="form-control" 
               name="email" id="email" value="{{data.email}}">
      </div>
    </div>
    <div class="form-group">
      <label for="provider" class="col-lg-2 control-label">Provider: </label>
      <div class="col-lg-10">
        <select class="form-control" name="provider" id="provider">
            <option {{#if provider.Telekom}}selected{{/if}}>Telekom</option>
            <option {{#if provider.Telenor}}selected{{/if}}>Telenor</option>
            <option {{#if provider.Vodafone}}selected{{/if}}>Vodafone</option>
            <option {{#if provider.Other}}selected{{/if}}>Other</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-8 col-lg-offset-2">
        <button type="reset" class="btn btn-default pull-left">Cancel</button>
        <button type="submit" class="btn btn-primary pull-right">Update</button>
      </div>
    </div>
  </fieldset>
</form>