<h1>Contacts</h1>
<br><br>
<blockquote>
    Here you can manage your contacts
</blockquote>
<br><br>
<div class="panel panel-default">
    <div class="panel-body">
        <p>Sign up, log in, and manage your contacts</p>
    </div>
</div>